{% load static %}

<!DOCTYPE html>

<html lang="pt">

<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}xxxxxxxxxxxxxxxx{% endblock %}</title>
    <link href="{% static 'css/front-page.css' %}" rel = "stylesheet">
</head>
<body>
    <header>
        <div class="center">
            <div class="logo"><img src="{% static 'img/logo_univesp.png'%}"/></div><!--logo-->
            <div class ="titulo">
                <h1>Biblioteca Virtual de Taquaral</h1>
            </div><!--titulo-->
        </div><!--center-->
    </header>

</html>