* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
  }

.a1 {
    text-decoration: none;
    color: inherit;
}
.conteudoCentral {
    display: flex;
}

.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    width: 60%;
    color: #ff6969;
    text-align: center;
    padding-top: 2%;
    border-bottom: #67b7b3 3px solid;
}

.logo {
    width:20%;
    padding-top: 7px;
}

.logo2 {
    width: 20%;
    padding: 9px;
}

header {
        display: flex;
        flex-wrap: wrap;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 2%;
        text-align: center;
        margin-top: 150 px;
        height:300 px;
}

p {
    display: block;
    margin-top: 5%;
    text-align: center;
}

.imagemEsquerda {
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
}

.imagemDireita {
    margin-left: auto;
    margin-right: auto;
    padding-right: 80px;
}

.listaDeLivros {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;
}

