* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #A5CBC3;
}

li {
    list-style-type: none;
  }

.a1 {
    text-decoration: none;
    color: inherit;
}


.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    width: 60%;
    color: #100B00;
    text-align: center;
    padding-top: 2%;
    border-bottom: #EFFFC8 3px solid;
}

.logo {
    width:20%;
    padding-top: 7px;
}

.logo2 {
    width: 20%;
    padding: 9px;
}

header {
        display: flex;
        flex-wrap: wrap;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 2%;
        text-align: center;
        margin-top: 150 px;
        height:300 px;
}

p {
    display: block;
    margin-top: 5%;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

a{
    text-decoration: none;
}


.listaDeLivros {
    text-align: center;
    font-family: 'Pacifico', cursive;
    height: 300px;
}

.conteudoCentral {

}
