* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #A5CBC3;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    text-align: center;
    margin-top: 150 px;
    height:300 px;
}
.logo {
    width:20%;
    padding-top: 7px;
}

.logo2 {
    width: 20%;
    padding: 9px;
}
.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    width: 60%;
    color: #100B00;
    text-align: center;
    padding-top: 2%;
    border-bottom: #EFFFC8 3px solid;
}

.corpo {
    width: 100%;
}

.subtitulo {
    color:green;
    padding: 3%;
}

.texto {
    font-family: Bookman, URW Bookman L, serif;
    padding: 0 10%;
    text-align: justify;
    margin-top: 150 px;
    height:10 px;
}

.textoCliqueAqui {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.cliqueAqui{
    font-weight: bold;    
}

.blocoImagemCriancas {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}