{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/books_detail.css' %}" rel = "stylesheet">
</head>

<body>
    <header>
        <div class="logo"><img src="{% static 'img/logo_univesp.png'%}"/></div><!--logo-->
        <div class ="titulo">
            <h1><a class='a1' href="../">Biblioteca Digital de Taquaral</a></h1>
        </div><!--titulo-->
        <div class="logo2"><img src="{% static 'img/logo_compartilhar.png'%}"/></div><!--logo2-->
    </header>

    <main>
        <div class="tituloEAutor">
        {% block content %}
        {% endblock %}
        </div>
    </main>
</body>

</html>