{% load static %}

<!DOCTYPE html>

<html lang="pt">

<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Digital Taquaral-SP</title>
    <link href="{% static 'css/termsOfService.css' %}" rel = "stylesheet">
</head>
    <header>
        <div class="center">
            <div class="logo"><img src="{% static 'img/logo_univesp.png'%}"/></div><!--logo-->
            <div class ="titulo">
                <h1><a class='a1' href="../">Biblioteca Digital de Taquaral</a></h1>
        </div><!--titulo-->
            <div class="logo2"><img src="{% static 'img/logo_compartilhar.png'%}"/></div><!--logo2-->
        </div><!--center--> 
    </header>
    <body>
        
        <main>
<h2>Termos de uso do Site</h2> 
<br><br>
<p>1.	Restrições de Uso</p>
<br>
Este site pertence á Prefeitura Municipal de Taquaral (SP) e possui material que é derivado em parte ou no todo de materiais enviados por diversas pessoas, instituições e empresas, e é protegido pelas leis internacionais de direitos autorais e patentes. Você não é autorizado a alterar, copiar, reproduzir, transmitir ou distribuir em nenhuma forma qualquer material deste site (incluindo códigos, textos, imagens e programas) sem prévia autorização permitida pelos responsáveis do site. 
<br><br>
<p>2.	Privacidade</p>
<br>
A Prefeitura Municipal de Taquaral (SP) se reserva ao direito de enviar e-mails para todos os cadastrados de acordo com as preferências selecionadas na hora do cadastro, bem como para todos os cadastrados, independente das preferências, se assim achar necessário para a divulgação do site. 
A qualquer momento a pessoa interessada poderá solicitar a sua retirada da lista ou solicitar alteração dos seus dados.
A Prefeitura Municipal de Taquaral (SP) considera os emails como informações confidenciais, e não irá utilizá-los para nenhum outro propósito que não esteja de acordo com o segmento educacional, pedagógico e cultural em questão ou disponibilizá-los de qualquer forma para qualquer empresa, pessoa ou entidade. 
<br><br>
<p>3.	Responsabilidade</p>
<br>
A Prefeitura Municipal de Taquaral (SP) tentará fazer todo o possível para que o conteúdo do site esteja sempre atualizado e contenha informações corretas. Entretanto, sob circunstância nenhuma, incluindo, mas não limitado a negligência, a Prefeitura Municipal de Taquaral (SP) será responsável por qualquer dano direto ou indireto, por acidente ou por consequência, que resulte do uso do material do site. 
<br><br>
<p>4.	Duração</p>
<br>
Este acordo se torna efetivo a partir do momento em que você se cadastra no site da Biblioteca Digital Municipal, tendo lido-o ou não, até quando a Prefeitura Municipal de Taquaral (SP) assim o desejar. O término desse acordo poderá ser realizado sem prévio aviso. No caso de término de acordo, o indivíduo não será mais autorizado a acessar qualquer área do site da Biblioteca Digital Municipal.   

        </main>
    </body>
</html>